[submodule "core"]
	path = core
	url = git://github.com/frontlinesms/frontlinesms-core.git
[submodule "plugin-forms"]
	path = plugin-forms
	url = git://github.com/frontlinesms/frontlinesms-plugin-forms.git
[submodule "dist"]
	path = dist
	url = git://github.com/frontlinesms/frontlinesms-dist.git
[submodule "pom-parent"]
	path = pom-parent
	url = git://github.com/frontlinesms/frontlinesms-pom-parent.git
